@import "tailwindcss";
:root {
  --background: #FAFAEB;
  --foreground: #dddddd;
}

*{
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-card-image { /* Geben Sie dem img-Tag diese Klasse */
    image-rendering: -webkit-optimize-contrast; /* Für Chrome/Safari bei Bedarf */
    image-rendering: crisp-edges; /* Oft nicht ideal für Fotos */
    /* Es gibt auch 'pixelated', aber das ist für Pixel-Art */
}
